In [1]:
evens=[20,22,24,26,28,30]
# replace
evens[1]='twenty two'
evens

[20, 'twenty two', 24, 26, 28, 30]

In [2]:
evens.remove(30)   # remove

In [4]:
evens

[20, 'twenty two', 24, 26, 28]

In [5]:
evens.pop()

28

In [6]:
evens

[20, 'twenty two', 24, 26]

In [7]:
evens.pop(-2)

24

In [8]:
evens

[20, 'twenty two', 26]

In [10]:
evens.index(26)

2

In [11]:
random=[34,12,90,86,45,109,52,30,87]
random.sort()

In [12]:
random

[12, 30, 34, 45, 52, 86, 87, 90, 109]

In [13]:
min(random)

12

In [14]:
max(random)

109

In [15]:
sum(random)

545

In [16]:
12+30+34+45+52+86+87+90+109

545

In [17]:
len(random)

9

In [21]:
# list=strings+int
# strings 
# isalpha

li=[34,'name','bhanu','56','ramya',1234]
for ele in li:
    if str(ele).isalpha():
        print(ele)

name
bhanu
ramya

In [22]:
li

[34, 'name', 'bhanu', '56', 'ramya', 1234]

In [23]:
li.extend(['iot','python'])

In [24]:
li

[34, 'name', 'bhanu', '56', 'ramya', 1234, 'iot', 'python']

In [32]:
li.clear()

In [33]:
li

[]

In [34]:

one=[1,2,3]
two=[6,7,8]
one+two

[1, 2, 3, 6, 7, 8]

In [35]:
sum(one)

6

In [36]:
sum(two)

21

In [37]:
bhanu=[sum(one)+sum(two)]

In [38]:
bhanu

[27]

In [39]:
bhanu=[sum(one),sum(two)]
bhanu

[6, 21]

In [137]:
# [1,2,3],[6,7,8].....>[7,9,11]
three=[]
s=0
for num in range(len(two)):
    s=one[num]+two[num]
    three.append(s)
three

[7, 9, 11]

In [138]:
# zip
li1=[1,2,3]
li2=[6,7,8]
li3=[]
s=0
for num,num2 in zip(li1,li2):
    s=num+num2
    li3.append(s)
li3

[7, 9, 11]

In [43]:
st=input().split()
st

hi i am from apssdc

['hi', 'i', 'am', 'from', 'apssdc']

In [44]:
li

[1, 2, 3]

In [47]:
li=[12,34,56,90,100,1555]
for i in li:
    print(i)

12
34
56
90
100
1555

In [46]:
unq=[]
for ele in li:
    if ele not in unq:
        unq.append(ele)
unq

[12, 34, 56, 90, 100, 1555]

In [58]:
# [89 23 10 45 28 82 40 16 72 50]
# [10 16 23 28 40 45 50 72 82 89]
# min sum of 4 ele
# max sum of 4 ele
a=input().split()
#nums
li=[]
min_sum=0
max_sum=0
for num in a:
    li.append(int(num))
li
li.sort()
min_sum=sum(li[0:4])
max_sum=sum(li[-4:])
print("min sum=",min_sum)
print("max sum=",max_sum)

10 16 23 28 40 45 50 72 82 89
min sum= 77
max sum= 293

In [70]:
li=[1,2,3,4,5,6,7,8,9]
li[:3]

[1, 2, 3]

In [56]:
li[-4:]

[6, 7, 8, 9]

In [59]:
10+16+23+28

77

In [60]:
50+72+82+89

293

In [61]:
new=[56,12,34,90,87]
new

[56, 12, 34, 90, 87]

In [62]:
new.sort()

In [63]:
new

[12, 34, 56, 87, 90]

In [64]:
new.reverse()

In [65]:
new

[90, 87, 56, 34, 12]

# set

- One of the data stracture in python
- is a well defined colle of data/data elemens
- it can be build on an unordered data elements
- { }
- immuntable in nature
    - we can nnot manipulate the data elements
- eleminates the duplicate data elements

In [71]:
s={12,'hi','hello',34,'course',90,87,78.34,'hi','summer','course'}

In [72]:
s

{12, 34, 78.34, 87, 90, 'course', 'hello', 'hi', 'summer'}

In [77]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [78]:
s2={12,'hi','summer',34}

In [79]:
s2

{12, 34, 'hi', 'summer'}

### Set Methods

- add
    - adds an elements to the set
- clear
    - removes all the elements from the set
- copy
    - returns a copy of the set
- difference
    - returns a set containing the diff bwn two r more sets
- discard
    - removes the specified item
- intersection
    - return a set that is the intersection of twoother sets
- isdisjoint
   - returns whether two sets have a intersection r not 
- issubset
    - returns whether another set contains this set r not
- issuperset
    - returns whether the set contains another set r not
- pop
    - removes an element from the list
- remove
    - remov the specified ele
- union
    - return a set containing the union of sets
- update
    - Update the set with the union of this set and others

In [81]:
s

{12, 34, 78.34, 87, 90, 'course', 'hello', 'hi', 'summer'}

In [82]:
s2

{12, 34, 'hi', 'summer'}

In [83]:
# s2 from s
s-s2

{78.34, 87, 90, 'course', 'hello'}

In [84]:
s2-s

set()

In [85]:
s

{12, 34, 78.34, 87, 90, 'course', 'hello', 'hi', 'summer'}

In [87]:
# add
s.add("King")
print(s)

{34, 'hello', 'hi', 'summer', 12, 78.34, 'King', 87, 90, 'course'}

In [91]:
# update
s.update(["King","queen",'minister','soldier'])
print(s)

{34, 'hello', 'hi', 'summer', 'soldier', 12, 'minister', 78.34, 'King', 87, 90, 'queen', 'course'}

In [92]:
len(s)

13

In [93]:
# pop
s

{12,
 34,
 78.34,
 87,
 90,
 'King',
 'course',
 'hello',
 'hi',
 'minister',
 'queen',
 'soldier',
 'summer'}

In [100]:
# pop
x=s.pop()
print(x)
print(s)

minister
{78.34, 'King', 87, 90, 'queen', 'course'}

In [101]:
s

{78.34, 87, 90, 'King', 'course', 'queen'}

In [103]:
# union
set1={'a','b','d'}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{'d', 1, 2, 3, 'a', 'b'}

In [104]:
s

{78.34, 87, 90, 'King', 'course', 'queen'}

In [105]:
s2

{12, 34, 'hi', 'summer'}

In [106]:
s.difference(s2)

{78.34, 87, 90, 'King', 'course', 'queen'}

In [107]:
new={'hi','summer','new','online session',45,89,123}

In [108]:
new

{123, 45, 89, 'hi', 'new', 'online session', 'summer'}

In [112]:
s2

{78.34, 87, 90, 'King', 'course', 'queen'}

In [115]:
# intersection
s2.intersection(new)

{'hi', 'summer'}

In [118]:
s

{78.34, 87, 90, 'King', 'course', 'queen'}

In [120]:
new.issubset(s)

False

In [119]:
s.issubset(new)

False

In [121]:
s2.issubset(s)

False

In [122]:
s={12,'hi','hello',34,'course',90,87,78.34,'hi','summer','course'}

In [123]:
s2={12,34,'summer','hi'}

In [124]:
s

{12, 34, 78.34, 87, 90, 'course', 'hello', 'hi', 'summer'}

In [125]:
s2

{12, 34, 'hi', 'summer'}

In [126]:
# is subset
s2.issubset(s)

True

In [127]:
# is superset
s.issuperset(s2)

True

In [128]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [134]:
li=[1,2,3,4]
li.extend(['bhanu','reddy'])

In [135]:
li

[1, 2, 3, 4, 'bhanu', 'reddy']