**Today's agenda**
- iter
- generators
- comprehensions
- special function

In [33]:
a=[1,2,3,4]
a.__iter__
print(a)

[1, 2, 3, 4]

In [10]:
next(a)

StopIteration:

In [29]:
def func(a):
    for i in a:
        yield i
a=[1,2,3,4,5,6]
value=func(a)

In [32]:
next(value)

3

**comprehensions**
- comprehesions are single line statements
- easier and more readable way to create list or dict
- 4 types of comprehensions
    - List comprehension
    - tuple comprehension
    - dict comprehension
    - set comprehension

```
syntax:
[expression for iterationvariable in sequence or range]

In [ ]:
# write a program squares of 1 to 10 each number.
# store the result in list

In [34]:
empty_list=[]
for i in range(1,11):
    i=i**2
    empty_list.append(i)
empty_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [35]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
for i in range(1,10): #i=1 i=2
    for j in range(20,30): j=20
        for k in range(30,40) k=31,32,33,34

In [61]:
# return 
b=[1,2,3,'a','b','c']
for i in b:
    if type(i)==int:
        print(i)

1
2
3

In [47]:
b=[1,2,3,'a','b','c']
#b=str(b)
[i for i in b if type(i)==int]

[1, 2, 3]

In [48]:
# list comprehension
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [49]:
# set comprehension
{i**2 for i in range(1,11)}

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [51]:
# dictonary comprehension
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [53]:
tuple(i**2 for i in range(1,11))

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [56]:
# word count key:count(character)
# {ravikishore:11,bhanuchandrareddy:17,sakambari:9}
trainers=["ravikishore","bhanuchandrareddy","sakambari"]

In [62]:
a= {i:len(i) for i in trainers}

In [64]:
%timeit a

76.3 ns ± 12 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [65]:
["kishore" for i in range(1,10)]

['kishore',
 'kishore',
 'kishore',
 'kishore',
 'kishore',
 'kishore',
 'kishore',
 'kishore',
 'kishore']

**lambda**
- lambda is a anonymus function
- singleuse and throw-way function
- temperory use
- lambda function can accept any no of arguments but it can return onley one value

```
lambda arguments:expression
```

In [77]:
value=lambda *a:a*a

In [81]:
value(1,2,3,4)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [84]:
name="Ravi ksiho re"
var=lambda x:x.split()
var(name)

['Ravi', 'ksiho', 're']