**Built in function**
**User defined function**

**Built in function**
-  it is defined as the function whose functionality is predefined in python

**Userdefined function**
- function which created by the user

```
def User_function_name(Formal arguments):
    -------------------------
    -------------------------
    -------------------------
    
user_function_name(Actual arguments)
```

In [1]:
def add():
    print(4+6)

In [2]:
add() # Function calling

10

In [3]:
def sub(a,b):
    return a-b
sub(8,5)

3

**in python we have 4 types arguments**
- positional arguments
- default arguments
- keyword arguments
- variable length arguments

In [19]:
# Positional arguments or required argument

def student(name,marks):
    print(name,marks)
    
    
name=input("enter your name")
m=int(input("Please enter your marks"))
student(name,m)

enter your nameklhkgjg
Please enter your marks98
klhkgjg 98

In [16]:
var="global variable"
def s():
    var1="localvariavl"
    print(var1)
    print(var)
s()

localvariavl
global variable

In [14]:
var1

NameError: name 'var1' is not defined

In [15]:
var

'global variable'

In [62]:
#keyword arguments

def student(name,marks):  # Formal arguments
    print(marks)
    print(name)
student(name=input("enter your name: " ),marks=int(input("enter you marks")))  # Actual arguments

enter your name: raviksihroe
enter you marks89
89
raviksihroe

In [36]:
def fun(0,1):
    ---------
    ---------
fun(1=0,0=1,)

89
ravikishore

In [64]:
# Default arguments

def detault_function(name,age=25,height=5.9):
    return name,age,height
print(detault_function(input("enter your name")))
#print(detault_function("Kishore",24))
#print(detault_function("ravi",26,5.11))

enter your namejhgf
('jhgf', 25, 5.9)

In [98]:
# variable length argument
def variable_len(*a):
    return sum(a)
variable_len(98,6,7,8,9,7.6)

135.6

In [68]:
def add(a,b):
    ----------
    ----------
    ----------
    return (a+b)
    return (a-b)
    print("sum")
add(2,3)

5

In [66]:
def add1(a,b):
    print(a+b)
    print(a-b)
add1(2,3)

5
-1

In [70]:
def retrun_function(a,b):
    if a>10 and b <5:
        return a+b
    return a-b
retrun_function(5,5)

0

**keyword_length_arguments**

In [89]:
def persondetails(name,**kwlen):
    print(name)
    print(kwlen)
persondetails("Ravikishore",age=25,place="srikalulam",no=98989898)

Ravikishore
{'age': 25, 'place': 'srikalulam', 'no': 98989898}

**Strings**
- sequence of characters enclosed with " " or ' '

In [79]:
print("ravikishore")
print('ravi')
print("kishore")

ravikishore
ravi
kishore

In [80]:
# Multi line string
'''adsljhlkadsljlkajdiojlkkllkadljla
adjkshnadjksnlkjnaldjkladsfj
jadshfkhkjadsnfljaoj
'''

';adsljhlkadsljlkajdiojlkkllkadljla\nadjkshnadjksnlkjnaldjkladsfj\njadshfkhkjadsnfljaoj'

In [90]:
"""
lasjdfjkjlaesjf;lkadsokoasd
aodjfskjlnklnadskl
kjadnsfkjnadsjkf
"""

'\nlasjdfjkjlaesjf;lkadsokoasd\naodjfskjlnklnadskl\nkjadnsfkjnadsjkf\n'

In [81]:
mobile=str(789643)

In [82]:
type(mobile)

str

In [83]:
name="ravikishore"

```
r a v i k i s h o r e
0 1 2 3 4 5 6 7 8 9 10

In [84]:
print(name[0])

'r'

In [96]:
"audhkfhjlhkgcnvjkjl;jghujadijadijfojadojadisjfoi\
adsjfoiadsojadsojokadsjlkadjsfjlkjfkljlkjlkadjlkjkjlk"

'audhkfhjlhkgcnvjkjl;jghujadijadijfojadojadisjfoiadsjfoiadsojadsojokadsjlkadjsfjlkjfkljlkjlkadjlkjkjlk'

In [92]:
"yhgf"

'yhgf'

In [99]:
def variable_len(*a):
       return sum(a)
variable_len(36,25,14,153)

228